@import "../../../lib/bootstrap/custom.bootstrap.import.less";
@import "../../../lib/theme.less";

.cleaner-box {
  border-radius: @border-radius-base;
  border: 1px dotted @btn-default-border;
  padding: 5px 10px;
  margin-bottom: 4px;

  .name {

    &::before {
      font-family: FontAwesome;
      content: "\f142";
      padding-right: 5px;
    }
  }

  .buildings {
  }
}


.building-box {
  display: inline-block;
  border-radius: @border-radius-base;
  border: 1px solid @btn-default-border;
  cursor: move;

  padding: 0 3px;
  margin: 3px;

  .duration {
    color: @color-soft;
  }

  &:hover {
    background-color: darken(@btn-default-bg, 10);
    border-color: darken(@btn-default-border, 15);
  }
}

.schedule {

  .unassigned-buildings {
    .building-box {
      display: table;
    }
  }

}

