@import "../../../lib/bootstrap/custom.bootstrap.import.less";
@import "../../../lib/theme.less";

body { 
  padding-top: 70px; 
}

.cleaner-box {
  border-radius: @border-radius-base;
  border: 1px dotted @btn-default-border;
  padding: 5px 10px;
  margin-bottom: 4px;

  .name {
    font-weight: bold;
  }
}

.schedule {
  dl {
    margin-bottom: 0px;
  }
  .btn-group {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .extra-hours {
    margin-right: 10px;
  }

}

.schedule-editor {

  .building-box {
    cursor: move;
  }

  .panel.panel-default {
    position: fixed;
  }


}
